<html>

<head>
    <title>Bus Tickets Booking Online with redBus</title>
    <style>
        .globalPresence {
            display: flex;
            text-align: center;
            margin: 1%;
            padding: 1%;
       
        }
        .singleflag{
            
        }
    </style>
</head>

<body>
    <div>
        <h1>GLOBAL PRESENCE</h1>
        <div class="globalPresence">
            <div class="singleflag">
                <img src="https://s3.rdbuz.com/web/images/homeV2/LATAM/GlobalPresence/Colombia.svg" alt="colombia flag">
                <p>Colombia</p>
            </div>
            <div>
                <img src="https://s3.rdbuz.com/web/images/homeV2/LATAM/GlobalPresence/India.svg" alt="India flag">
                <p>India</p>

            </div>
            <div>
                <img src="https://s3.rdbuz.com/web/images/homeV2/LATAM/GlobalPresence/Indonesia.svg"
                    alt="Indonesia flag">
                <p>Indonesia</p>
            </div>

            <div>
                <img src="https://s3.rdbuz.com/web/images/homeV2/LATAM/GlobalPresence/Malaysia.svg" alt="Malaysia flag">
                <p>Malaysia</p>

            </div>
            <div>
                <img src="https://s3.rdbuz.com/web/images/homeV2/LATAM/GlobalPresence/Peru.svg" alt="Peru flag">
                <p>Peru</p>

            </div>
            <div>
                <img src="https://s3.rdbuz.com/web/images/homeV2/LATAM/GlobalPresence/Singapore.svg"
                    alt="colombia flag">
                <p>Singapore</p>

            </div>



        </div>

    </div>


</body>

</html>